@import "../abstracts/variables";

h1,h2,h3,h4,h5,h6 {
    font-family: DynaPuff, sans-serif;
}
h1 {
    color: $white-color;
    font-size: 48px;
    font-weight: 700;
    width: 288px;
    line-height: normal;

    @media(min-width: $bp-md) {
        font-size: 80px;
        width: 512px;
    }

    @media(min-width: $bp-lg) {
        width: 846px;
    }
}

.about__name {
    color: $name-color;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;

    @media(min-width: $bp-md) {
        font-size: 48px;
    }
}

.design__title {
    color: $white-color;
    font-size: 36px;
    font-weight: 700;

    @media(min-width: $bp-md) {
        font-size: 80px;
    }
}