@import "../abstracts/variables";

.about {
    background: $main-bg;
    background-image: url(../../img/elipse-mobile.png);
    background-position: right;
    background-repeat: no-repeat;
    padding-top: 72px;
    padding-bottom: 76px;
    

    @media(min-width: $bp-md) {
        background-image: url(../../img/elipse-tablet.png);
        padding-top: 101px;
        padding-bottom: 102px;
    }

    @media(min-width: $bp-lg) {
        background-image: url(../../img/elipse-desktop.png);
    }
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about__descr {
    color: $white-color;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;

    @media(min-width: $bp-md) {
        font-size: 16px;
        width: 524px;
    }
}

.about__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;

    @media(min-width: $bp-md) {
        gap: 96px;
    }
}

.about__info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;

    & span {
        color: $white-color;
        font-family: DynaPuff;
        font-size: 36px;
        font-weight: 700;

        @media(min-width: $bp-md) {
            font-size: 48px ;
        }
    }

    & p {
        color: $white-color;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
    }

    
}