@import "../abstracts/variables";

footer {
    background-color: $main-bg;
    padding-top: 57px;
    padding-bottom: 40px;

    @media(min-width: $bp-md) {
        padding-top: 96px;
        padding-bottom: 35px;
    }

    @media(min-width: $bp-lg) {
        padding-top: 78px;
        padding-bottom: 30 px;
    }
}

.footer__btn {
    margin: 0 auto;
    padding: 12px 33.5px 12px 105.5px;
    border-radius: 139px;
    border: 1px solid #F2F2F2;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: $white-color;
    font-family: DynaPuff;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    width: 282px;

    &::before {
        content: '';
        position: absolute;
        width: 52px;
        height: 52px;
        background-image: url(../../img/icons/dawn_mobile.svg);
        top: 50%;
        left: 33.5px;
        transform: translateY(-50%);
    }

    & p {
        color: $white-color;
        text-align: left;
        font-family: Manrope;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: 17px;
            top: 50%;
            transform: translateY(-50%);
            width: 36px;
            height: 13px;
            background-image: url(../../img/icons/arrow-right.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    @media(min-width: 380px) {
        width: 342px;
        font-size: 19px;
        gap: 17px;

        & p {
            font-size: 15px;

            &::after {
                height: 16px;
                right: 40px;
            }
        }
    }

    @media(min-width: $bp-md) {

        font-size: 47px;
        width: 714px;
        padding: 21px 37px 21px 190px;

        &::before {
            width: 108px;
            height: 108px;
            background-image: url(../../img/icons/dawn.svg);
            left: 37px;
        }

        & p {
            font-size: 24px;
            gap: 24px;

            &::after {
                width: 52px;
                height: 26px;
                right: 238px;
            }
        }
    }

    @media(min-width: $bp-lg) {
        width: 914px;
        padding: 42px 137px 42px 290px;

        &::before {
            left: 137px;
        }
    }
}

.footer__social {
    margin: 0 auto;
    margin-top: 113px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 34px;
    row-gap: 21px;
    width: 198px;

    & p {
        color: $white-color;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
    }

    @media(min-width: $bp-md) {
        width: 226px;
        margin-top: 60px;

        & p {
            font-size: 16px;
            width: 226px;
        }
    }

    @media(min-width: $bp-lg) {
        margin-top:  163px;
    }
}