@import "../abstracts/variables";

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 21px;

    @media(min-width: $bp-md) {
        padding: 0 34px;
    }

    @media(min-width: $bp-lg) {
        padding: 0;
        max-width: 1200px;
        justify-content: center;
        gap: 235px;
    }
}

.header__burger-menu {
    padding: 20px;
    border-radius: 20px;
    border: 2px solid $white-color;
    background: transparent;

    @media(min-width: $bp-lg) {
        display: none;
    }
}

.header__menu {
    display: none;

    @media(min-width: $bp-lg) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    & a {
        display: flex;
        padding: 10px 16px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border-radius: 20px;
        border: 1px solid $white-color;
        color: $white-color;
        font-size: 16px;
        font-weight: 700;
    }
    .header__menu-item{
        &:nth-child(1) {
            a::before {
                content: '';
                width: 16px;
                height: 16px;
                background-image: url(../../img/icons/magic-wand.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        &:nth-child(2) {
            a::before {
                content: '';
                width: 16px;
                height: 16px;
                background-image: url(../../img/icons/document.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        &:nth-child(3) {
            a::before {
                content: '';
                width: 16px;
                height: 16px;
                background-image: url(../../img/icons/flower.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        &:nth-child(4) {
            a::before {
                content: '';
                width: 16px;
                height: 16px;
                background-image: url(../../img/icons/comment-heart.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
   

    
}

