@import "../abstracts/variables";

.promo {
    background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
    padding-top:  412px;
    padding-bottom: 149px;

    @media(min-width: $bp-md) {
        padding-top:  273px;
        padding-bottom: 130px;
    }

    @media(min-width: $bp-lg) {
        padding-top:  491px;
        padding-bottom: 119px;
    }
}